div{
    height:200px; width: 200px;
    background-color: blue;
}
.div2{
    height:200px; width: 200px;
    background-color: rgb(255, 0, 0);
}
.div3{
    height:200px; width: 200px;
    background-color: green;
}
.div4{    
    height:200px; width: 200px;
    background-color: yellow;
}
p{
    font-size: 20px;
    background-color: aqua;
    border: 2px red;
}
.p1{
    font-size: 30px;
    background-color:purple;
    border: 2px red;
}